html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #FFFCFA;
}

main {
    min-height: 70%;
    text-align: center;
}

#flag {
    margin: 0 auto;
    position: relative;
}

#osdconf-logo span {
    font-family: "League Gothic",Impact,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

#logo-part1 {
    color: #e0186f;
    margin-right: 10px;
    font-size: 84px;
}

#logo-part2 {
    color: #282727;
    font-size: 84px;
}

#osdconf-logo #logo-part3 {
    color: #009dd9;
    font-size: 48px;
    margin-right: 10px;
}

#osdconf-logo #logo-part4 {
    color: #a3fb4b;
    font-size: 60px;
    text-align: center;
}

#osdc-logo img {
    width: 180px;
}

#osdconf-logo {
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}

#date-venue,#coming-soon {
    color: #e66;
    font-family: Palatino;
    font-size: 28px;
    margin: 10px auto 5px;
}

#coming-soon {
    margin-top: 10px;
    width: 320px;
}

.main-content {
    margin-bottom: 20px;
    font-family: Palatino;
    margin-top: 20px;
}

.main-content h2 {
    text-align: left;
    display: inline-block;
    padding: 0;
    width: 100%;
    font-size: 2.8em;
    color: #000;
}

#about h2 {
    border-bottom: solid 3px #e0186f;
}

#speakers h2 {
    border-bottom: solid 3px #282727;
}

#sponsors h2 {
    border-bottom: solid 3px #009dd9;
}

#register h2 {
    border-bottom: solid 3px #a3fb4b;
}

#venue h2 {
    border-bottom: solid 3px #e0186f;
}


.main-content p {
    font-size: 20px;
    text-align: center;
    text-align: justify;
    text-justify: newspaper;
}

.main-content img {
    width: 68%;
    margin: 25px;
}

.main-content h3 {
    text-align: left;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 160%;
}

#speakers p,#sponsors p {
    text-align: left;
}

.main-content:last-of-type {
    margin-bottom: 70px;
}

footer {
    text-align: center;
}

input {
    border: 1px solid #ccc;
    font-size: 16px;
    padding: 8px;
}

#propose {
    margin-top: 30px;
    cursor: pointer;
    border: 0;
    background-color: #2B9DC9;
    height: 48px;
    width: 180px;
    font-size: 18px;
    color: #eFeFeF;
}


#propose-wrapper {
    padding: .7em 1em;
    margin-bottom: 1em;
}

.menu-bar {
    margin-top: 25px;
    margin-bottom: 70px;
}

.menu-bar li {
    margin-right: 30px;
}

.menu-bar li:nth-of-type(4n+1) :hover {
    border-bottom: solid 2px #e0186f;
}

.menu-bar li:nth-of-type(4n+2) :hover {
    border-bottom: solid 2px #282727;
}

.menu-bar li:nth-of-type(4n+3) :hover {
    border-bottom: solid 2px #009dd9;
}

.menu-bar li:nth-of-type(4n+4) :hover {
    border-bottom: solid 2px #a3fb4b;
}

.menu-bar li a {
    color: #333;
    font-size: 1.9em;
    font-family: helvetica;
}

.menu-bar li a:hover {
    text-decoration: none;
}

.row {
    width: 100%;
}

#about-text-about {
    font-size: 20px;
    display: inline;
    text-decoration: none;
    margin-left: -30px;
}

#about-text-speakers {
    font-size: 20px;
    display: inline;
    text-decoration: none;
    margin-left: 120px;
}

#about-text-sponsors {
    font-size: 20px;
    display: inline;
    text-decoration: none;
    margin-left: 120px;
}

#about-text-register {
    font-size: 20px;
    display: inline;
    text-decoration: none;
    margin-left: 120px;
}

#about-text-venue {
    font-size: 20px;
    display: inline;
    text-decoration: none;
    margin-left: 120px;
}

#for-nav-div {
    padding-top: 5px;
}

#anchor-id {
    color: #fff;
}

a.mouse-top:link {
    text-decoration: none;
}

a.mouse-top:hover {
    text-decoration: underline;
}

#map-canvas {
    position: relative;
    width: 75%;
    height: 0;
    padding-bottom: 50%;
    float: left;
    margin-top: 40px;
    margin-bottom: 20px;
}

#venue h5 {
    float: left;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 700;
}

#landmark {
    float: left;
    margin-left: 30px;
    position: relative;
    top: 13px;
    font-size: 120%;
}

.sponsorship-type h3 {
    margin: 0;
}

img.sponsor-image {
    margin: 0;
    width: 180px;
}

.sponsors-list {
    text-align: left;
}

.sponsors-section {
    margin-bottom: 24px;
}
