html {
	height: 100%;
}

body {
	height: 100%;
	background-color: #FFFCFA;
}

main {
	margin: 40px auto;
	min-height: 70%;
	text-align: center;
	max-width: 50%;
	min-width: 320px;
}

#flag {
	margin: 0 auto;
	position: relative;

}

#osdconf-logo span {
	font-family: "League Gothic",Impact,sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

#logo-part1 {
	color: #e0186f;
	margin: 0 10px 0 24px;
	font-size: 84px;
}

#logo-part2 {
	color: #282727;
	font-size: 84px;
}

#osdconf-logo #logo-part3 {
	color: #009dd9;
	font-size: 48px;
	margin-right: 10px;
}

#osdconf-logo #logo-part4 {
	color: #a3fb4b;
	font-size: 48px;
}

#osdc-logo img {
	width: 180px;
}

#osdconf-logo {
	padding-bottom: 15px;
	border-bottom: 1px solid #ccc;
}

#date-venue, #coming-soon {
	color: #ee6666;
	font-family: Palatino;
	font-size: 28px;
	margin: 10px auto 5px auto;
}

#coming-soon {
	margin-top: 100px;
	width: 320px;
}

.main-content {
	margin-bottom: 10px;
	font-family: Palatino;
}

.main-content h2 {
	text-align: center;
	color: #ee6666
}

.main-content p {
	font-size: 20px;
	text-align: left;
}

.main-content img {
	width: 98%;
}

.main-content:first-of-type {
	margin-top: 64px;
}

footer {
	text-align: center;
}
