html {
	height: 100%;
}

body {
	height: 100%;
	background-color: #FFFCFA;
}

main {
	/*margin: 40px auto;*/
	min-height: 70%;
	text-align: center;
	/*
	max-width: 60%;
	min-width: 320px;
	*/
}

#flag {
	margin: 0 auto;
	position: relative;

}

#osdconf-logo span {
	font-family: "League Gothic",Impact,sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

#logo-part1 {
	color: #e0186f;
	margin-right: 10px;
	font-size: 84px;
}

#logo-part2 {
	color: #282727;
	font-size: 84px;
}

#osdconf-logo #logo-part3 {
	color: #009dd9;
	font-size: 48px;
	margin-right: 10px;
}

#osdconf-logo #logo-part4 {
	color: #a3fb4b;
	font-size: 60px;
	text-align: center;
}

#osdc-logo img {
	width: 180px;
}

#osdconf-logo {
	padding-bottom: 15px;
	border-bottom: 1px solid #ccc;
}

#date-venue, #coming-soon {
	color: #ee6666;
	font-family: Palatino;
	font-size: 28px;
	margin: 10px auto 5px auto;
}

#coming-soon {
	margin-top: 10px;
	width: 320px;
}

.main-content {
	margin-bottom: 50px;
	font-family: Palatino;
	margin-top: 64px;
}




.main-content h2 {
	text-align: center;
	display: inline-block;
	padding: 10px 20px;
	width: 100%;
	font-size:2.1em;
	/*
	margin-left: -2%;
	font-family: aleolight;
	color: #ee6666;*/
	background-color: #ff9d00;
	color: #fff;
	
}


.main-content p {
	font-size: 20px;
	text-align: center;
	text-align: justify;
  	text-justify: newspaper;
}

.main-content img {
	width: 68%;
	margin:25px;
}

.main-content  h3 {
	text-align: left;
	font-size: 120%;
}

#speakers p, #sponsors p {
	text-align: left;
}

.main-content:last-of-type {
	margin-bottom: 70px;
}

footer {
	text-align: center;
}

input {
	border: 1px solid #ccc;
	font-size: 16px;
	padding: 8px;
}

#notify-me {
	margin-top: 30px;
	cursor: pointer;
	border: none;
	background-color: #2B9DC9;
	height: 48px;
	width: 180px;
	font-size: 18px;
	color: #eFeFeF;
}

#notify-box {
	display: none;
	font-family: Palatino;
}

#notify-box-wrapper {

	padding: .7em 1em;
	margin-bottom: 1em;

}

#menu-bar {

list-style-type:none;
margin: 50px 0px 100px -100px ;
background-color: #A4B9E0;
height: 50px;
width: 930px;
left:0px;
border-radius: 10px;
background: rgb(178,225,255); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(178,225,255,1) 0%, rgba(102,182,252,1) 49%); 
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(178,225,255,1)), color-stop(49%,rgba(102,182,252,1))); 
background: -webkit-linear-gradient(-45deg,  rgba(178,225,255,1) 0%,rgba(102,182,252,1) 49%); 
background: -o-linear-gradient(-45deg,  rgba(178,225,255,1) 0%,rgba(102,182,252,1) 49%); 
background: -ms-linear-gradient(-45deg,  rgba(178,225,255,1) 0%,rgba(102,182,252,1) 49%); 
background: linear-gradient(135deg,  rgba(178,225,255,1) 0%,rgba(102,182,252,1) 49%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2e1ff', endColorstr='#66b6fc',GradientType=1 ); 
padding-top:-20px;
}


