/* globals and media queries */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

@media (min-width: 576px) {
  body {
    font-size: 16px;
  }

  footer .other-stuff {
    flex-direction: row !important;
    align-items: center;
  }
}

@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  body {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 22px;
  }
}

/* utilities */

.text-center {
  text-align: center;
}

/* header */

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #282a36;
  color: #f8f8f2;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 10px;
  font-weight: 300;
}

main > * {
  max-width: 500px;
}

main > span {
  font-size: 1.5em;
  text-transform: uppercase;
}

main > span.second {
  font-size: 2em;
}

main > span.text {
  font-size: 1.2em;
  text-transform: none;
  font-family: 'Roboto', sans-serif;
  margin: 1.2em;
}

main > span.text > strong {
  font-weight: 700;
}

main > a,
footer .buttons a {
  font-size: 1.3em;
  color: #50fa7b;
  border: 2px solid #50fa7b;
  background: transparent;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0.7em;
  padding: 0.5em;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

main > a:hover,
footer .buttons a:hover {
  background: #50fa7b;
  color: #282a36;
}

/* footer */

footer .buttons {
  display: flex;
}

footer .buttons a {
  flex-grow: 1;
  text-align: center;
}

footer .other-stuff {
  background: #44475a;
  padding: 20px;

  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

footer,
footer a,
footer a:active {
  color: #f8f8f2;
  text-decoration: none;
}

footer ul {
  list-style-type: none;
}

footer li {
  padding: 5px;
}

footer .code-text {
  background: #282a36;
  padding: 20px;
  font-size: 1.2em;
}

footer .fa {
  margin: 0 5px;
}

/* sections */

section > h2 {
  font-family: 'Roboto Condensed', sans-serif;
  border-bottom: 2px solid #50fa7b;
  font-size: 2em;
}

section > p {
  font-size: 1.1em;
  max-width: 1000px;
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid grey;
  padding: 4em 0;
}

section a.green-link {
  font-size: 1.3em;
  color: #50fa7b;
  border: 2px solid #50fa7b;
  background: transparent;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0.7em;
  padding: 0.5em;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

section a.green-link:hover {
  background: #50fa7b;
  color: white;
}

/* menu */

.menu {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 46px;
  width: 46px;
  z-index: 10;
}

.menu-link {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1002;
}

.menu-icon {
  position: absolute;
  width: 20px;
  height: 14px;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 1px;
}

.menu-line {
  background: #50fa7b;
  height: 2px;
  width: 100%;
  border-radius: 2px;
  position: absolute;
  left: 0;
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu-line-2 {
  top: 0;
  bottom: 0;
  margin: auto;
}

.menu-line-3 {
  bottom: 0;
}

.menu.open .menu-line-1 {
  transform: translateY(7px) translateY(-50%) rotate(-135deg);
}

.menu.open .menu-line-2 {
  opacity: 0;
}

.menu.open .menu-line-3 {
  transform: translateY(-7px) translateY(50%) rotate(135deg);
}

.menu-circle {
  background-color: #282a36;
  border: 2px solid #50fa7b;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  transform: scale(1);
  z-index: 1000;
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.menu:hover .menu-circle {
  animation: beat 0.4s 4 alternate;
  animation-timing-function: ease-in-out;
}

@keyframes beat {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.21);
  }
}

.menu.open .menu-circle {
  transform: scale(60);
}

.menu.open .menu-circle {
  transform: scale(0);
}

.showing {
  transform: translateX(0px);
  opacity: 1;
}

.showingtext {
  transform: translateY(0px);
  opacity: 1;
}

.terminal {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
  height: 100vh;
  z-index: 1;
  color: #008bff;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.93);
  width: 0;
  left: -15vw;
  padding: 20px;
  font-family: 'Source Code Pro', sans-serif;
  font-size: 30px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.ter-ul {
  list-style-type: none;
}

.lo {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform: translateX(-100px);
  margin-bottom: 17px;
  border-bottom: 1px solid #008bff;
  padding: 10px;
}

.lo:hover {
  color: white;
  cursor: pointer;
  transform: scale(1.03);
  border-bottom-width: 3px;
}

.is-showing {
  opacity: 1;
  transform: translateX(0px);
  transition: all 0.3s ease-in-out;
}

.terminal.open {
  max-height: 100vh;
  width: 50vw;
}

.terminal.close {
  width: 0;
}

.aterminal {
  position: fixed;
  top: 10vh;
  left: 25vw;
  min-height: 400px;
  width: 50%;
  z-index: 2;
  transform: scale(0);
  transition: transform 400ms ease-in-out;
}

#cross {
  display: none;
  color: #37474f;
  margin-left: 7px;
  font-size: 10px;
}

.aterminal:hover #cross {
  display: block;
}

.navbar {
  height: 4vh;
  padding-left: 5px;
  background: rgba(0, 0, 0, 1);
  color: #eeeeee;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  align-content: center;
  align-items: center;
}

.navbar button {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-left: 4px;
  box-shadow: none;
  outline: none;
  border: 0;
}

.nav-background {
  background-size: 350px;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 350px;
  box-shadow: 0px 0px 10px 1000px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.nav {
  background: rgba(0, 0, 0, 0.96);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-family: 'Source Code Pro', monospace;
  font-weight: 200;
  font-size: 18px;
  color: white;
  padding: 14px;
  min-height: 350px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.6);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.nav a {
  color: #9cd9f0;
  text-decoration: none;
}

.session {
  position: absolute;
  text-align: center;
  font-family: 'Source Code Pro', sans-serif;
  font-size: 14px;
  left: 39%;
}

.close {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff6159;
}

.close:hover {
  cursor: pointer;
}

.minimize {
  background-color: #ffbf2f;
}
.maximize {
  background-color: #25cc3e;
}

.line1 {
  color: #9cd9f0;
}

.line2 {
  color: #cdee69;
}

.line3 {
  color: #e09690;
}

.line4 {
  color: #9cd9f0;
}

.line5 {
  color: #cdee69;
}

.line6 {
  color: #e09690;
}

.speakers {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid grey;
}

.speakers-head {
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  position: relative;
  opacity: 0;
  transform: translateY(100px);
  transition: all 700ms ease-in;
  padding-bottom: 10px;
  border-bottom: 2px solid #008bff;
  transition: all 500ms ease-in;
}

.speakers-head-show {
  opacity: 1;
  transform: translateY(0px);
}

.speakers-body {
  min-height: 380px;
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
}

.speaker-card {
  min-height: 450px;
  width: 300px;
  margin: 15px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.3), 0 0 15px rgba(0, 0, 0, 0.1) inset;
  opacity: 0;
  transform: translateX(-150px);
  transition: all 0.3s ease-in-out;
}

.speaker-card:hover {
  box-shadow: 0 1px 6px 4px rgba(0, 0, 0, 0.3);
}

.speaker-card-show {
  opacity: 1;
  transform: translateX(0px);
}

.keynote-name {
  font-size: 25px;
  margin-top: 7px;
  font-family: 'Roboto Condensed', sans-serif;
}

.keynote-desc {
  min-height: 100px;
  max-height: 250px;
  overflow: scroll;
  font-family: 'Roboto', sans-serif;
  padding: 17px;
  color: #455a64;
}

.keynote-links {
  margin: 10px;
}

.keynote-links a {
  color: black;
  text-decoration: none;
}

.twitter:hover {
  color: #008bff;
}

.linkedin:hover {
  color: #0077b5;
}

.sponsors {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 75px;
  border-bottom: 1px solid grey;
}

.sponsors-head {
  font-size: 40px;
  font-weight: 400;
  position: relative;
  opacity: 0;
  transform: translateY(100px);
  padding-bottom: 10px;
  border-bottom: 2px solid #008bff;
  transition: all 0.3s ease-in;
}

.sponsors-desc {
  font-weight: 100;
  font-size: 20px;
  color: #455a64;
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.3s 100ms ease-in;
  text-align: center;
}

.sponsors-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 37px;
  width: 200px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  background-color: white;
  color: #008bff;
  border: 2px solid #008bff;
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.2s 200ms ease-in;
}

.sponsors-button:hover {
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.3);
  background-color: #008bff;
}

.sponsors-button:active {
  outline: none;
}

.sponsors-show {
  opacity: 1;
  transform: translateY(0px);
}

.sponsors-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 400px;
  padding: 20px;
  width: 100%;
}

.sponsor {
  height: 150px;
  width: 250px;
  margin: 12px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform: translateX(-50px);
  transition-delay: 650ms;
}

.sponsor-show {
  opacity: 1;
  transform: translateX(0px);
}

* {
  box-sizing: border-box;
}

.schedule {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid grey;
  padding-bottom: 40px;
  min-height: 80vh;
}

.schedule-head {
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  position: relative;
  opacity: 0;
  transform: translateY(100px);
  padding-bottom: 10px;
  border-bottom: 2px solid #008bff;
  transition: all 0.3s ease-in;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #455a64;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.container {
  padding: 10px 40px;
  position: relative;
  color: white;
  width: 50%;
}

.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #008bff;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.left::before {
  content: ' ';
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #008bff;
}

.right::before {
  content: ' ';
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent #008bff transparent transparent;
}

.right::after {
  left: -16px;
}

.content {
  padding: 20px 30px;
  border: 2px solid #008bff;
  color: black;
  position: relative;
  border-radius: 6px;
}

.content p {
  color: #455a64;
}

.schedule-head-show {
  opacity: 1;
  transform: translateY(0px);
}

/*venue*/

.venue {
  min-height: 40vh;
  background-image: url(../images/audi.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.venue-overlay {
  background: rgba(0, 0, 0, 0.6);
  min-height: 60vh;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  padding: 30px;
}

.venue-head {
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  position: relative;
  opacity: 0;
  transform: translateY(100px);
  padding-bottom: 10px;
  border-bottom: 2px solid #008bff;
  transition: all 0.3s ease-in;
}

.venue-head-show {
  opacity: 1;
  transform: translateY(0px);
}

.venue-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.actual-venue {
  padding: 0 35px;
  font-size: 32px;
  font-weight: bold;
  opacity: 0;
  transform: translateX(-200px);
  transition: all 0.3s ease-in-out;
  transition-delay: 200ms;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.actual-venue-show {
  opacity: 1;
  transform: translateX(0px);
}

.extra-span {
  font-size: 27px;
  margin-top: 10px;
}

.map {
  min-height: 450px;
  min-width: 620px;
  background-image: url(../images/jiitmap.png);
  background-position: center center;
  background-position: 620px auto;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.9), 0 7px 10px rgba(0, 0, 0, 0.1) inset;
}

/* Speakers page */

.speakers-main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  flex-direction: column;
  background-attachment: fixed;
  background: #008bff;
}

.new-speaker-head {
  font-size: 50px;
  font-family: 'Permanent Marker', sans-serif;
  font-weight: 400;
  padding-bottom: 10px;
  border-bottom: 4px solid white;
  color: white;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0;
}

.speakers-cards {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.speakers-card {
  margin: 20px;
  min-height: 250px;
  min-width: 250px;
  background-image: url(https://avatars0.githubusercontent.com/u/1024025?s=460&v=4);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.3), 0 0 15px rgba(0, 0, 0, 0.1) inset;
  background-position: center center;
  background-size: auto 250px;
  transition: all 0.25s ease-in-out;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid white;
}

.speakers-card:hover {
  box-shadow: 0 6px 4px rgba(0, 0, 0, 0.3);
  border-radius: 0;
}

.speakers-card:hover .layer {
  transform: translateX(0px);
}

.speakers-card:hover .layer1 {
  transform: translateX(0px);
}

.layer1 {
  min-width: 250px;
  height: 210px;
  transform: translateX(250px);
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  color: white;
}

.layer {
  min-width: 250px;
  height: 40px;
  transform: translateX(-250px);
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 5px 77px;
}

/* media queries */

@media only screen and (max-width: 937px) {
  .nav-background {
    background-size: 200px;
  }

  .terminal {
    width: 0;
  }

  .lo {
    font-size: 17px;
  }

  .testtext {
    margin-right: 10px;
  }
}

@media only screen and (max-width: 607px) {
  .aterminal {
    display: none;
  }

  .about {
    padding: 25px;
  }

  .text {
    font-size: 25px;
  }

  .testtext {
    font-size: 17px;
  }

  .speakers-body {
    border: 1px solid #008bff;
  }

  .sponsors {
    padding: 40px;
  }

  .sponsors-desc {
    font-size: 18px;
  }

  .timeline::after {
    left: 31px;
  }

  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent #008bff transparent transparent;
  }

  .left::after,
  .right::after {
    left: 15px;
  }

  .right {
    left: 0%;
  }

  .venue-body {
    flex-direction: column;
    padding: 5px 5px;
  }

  .map {
    min-width: 320px;
  }

  .actual-venue {
    padding: 3px;
    font-size: 22px;
    align-items: flex-start;
  }

  .extra-span {
    font-size: 17px;
  }
}

@media only screen and (min-width: 607px) {
  .terminal {
    display: none;
  }
}
