body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto',sans-serif;
	font-size: 20px;
	min-height: 100vh;
}

.menu {
  position: fixed;
  top: 20px;
  left: 20px;
  height: 46px;
  width: 46px;
  z-index: 10;
}

.menu-link {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1002;
}

.menu-icon {
  position: absolute;
  width: 20px;
  height: 14px;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 1px;
}

.menu-line {
  background-color: white;
  height: 2px;
  width: 100%;
  border-radius: 2px;
  position: absolute;
  left: 0;
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu-line-2 {
  top: 0;
  bottom: 0;
  margin: auto;
}

.menu-line-3 {
  bottom: 0;
}

.menu.open .menu-line-1 {
  transform: translateY(7px) translateY(-50%) rotate(-135deg);
}

.menu.open .menu-line-2 {
  opacity: 0;
}

.menu.open .menu-line-3 {
  transform: translateY(-7px) translateY(50%) rotate(135deg);
}

.menu-circle {
  background-color: #008BFF;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  transform: scale(1);
  z-index: 1000;
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.menu:hover .menu-circle {
  animation: beat 0.4s infinite alternate;
  animation-timing-function: ease-in-out;
}

@keyframes beat {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.21);
	}
}

.menu.open .menu-circle {
  transform: scale(60);
}

.menu.open .menu-circle {
	transform: scale(0);
}

.main {
	min-height: 100vh;
	overflow-x: hidden;
	display: flex;
	border-bottom: 1px solid grey; 
}

.laptop {
	position: absolute;
	height: 400px;
	width: 500px;
	background-image: url('../images/laptop.png');
	background-size: auto 400px;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
	top: 0;
	left: 30%;
}

.cup {
	position: absolute;
	top: 35%;
	left: 20%;
	height: 200px;
	width: 200px;
	background-image: url('../images/tea.png');
	background-size: auto 200px;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
}

.phone {
	position: absolute;
	top:25%;
	left: 65%;
	height: 150px;
	width: 170px;
	background-image: url('../images/iphone.png');
	background-size: auto 150px;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
}

.specs {
	position: absolute;
	top:43%;
	left: 62%;
	height: 150px;
	width: 180px;
	background-image: url('../images/specs.png');
	background-size: auto 150px;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
}

.pot {
	position: absolute;
	top: 5%;
	left: 75%;
	height: 200px;
	width: 210px;
	background-image: url('../images/tree.png');
	background-size: auto 200px;
	background-repeat: no-repeat;
	overflow: hidden;
}

.notebook {
	position: absolute;
	top:15%;
	right: 0%;
	height: 230px;
	width: 240px;
	background-image: url('../images/notebook.png');
	background-size: auto 230px;
	background-repeat: no-repeat;
	overflow: hidden;
}

.calci {
	position: absolute;
	bottom :0%;
	right: 0%;
	height: 320px;
	width: 360px;
	background-image: url('../images/calci.png');
	background-size: auto 320px;
	background-repeat: no-repeat;
	z-index: 0;
}

.pencil {
	position: absolute;
	bottom :0%;
	left: 25%;
	height: 190px;
	width: 220px;
	background-image: url('../images/pencil.png');
	background-size: auto 190px;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
}

.notepad {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 300px;
	width: 310px;
	background-image: url('../images/notepad.png');
	background-size: auto 300px;
	background-repeat: no-repeat;
	overflow: hidden;
}

.pen {
	position: absolute;
	bottom: 10%;
	left: 13%;
	height: 250px;
	width: 210px;
	background-image: url('../images/pen2.png');
	background-size: auto 300px;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
}

.pad {
	position: absolute;
	bottom :0%;
	left: 54%;
	height: 180px;
	width: 210px;
	background-image: url('../images/pad.png');
	background-size: auto 180px;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
}

.cleanup {
	position: absolute;
	top: 0%;
	left: 0%;
	height: 300px;
	width: 310px;
	background-image: url('../images/cleanup.png');
	background-size: auto 300px;
	background-repeat: no-repeat;
	overflow: hidden;
}

.writeup {
	position: absolute;
	top: 62%;
	left: 39%;
	font-family: 'Permanent Marker', cursive;
	font-size: 52px;
	text-align: center;
	height: 200px;
	width: 320px;
	overflow: hidden;
	color: #008BFF;
	animation: writeup-appear 1.2s cubic-bezier(0,.92,.57,1.8) 1 forwards;
	animation-delay: 1.5s;	
}

@keyframes writeup-appear {
	0% {
		transform: scale(4);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

.about {
	min-height: 45vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 100px;
	border-bottom: 1px solid grey;
}

.test {
	font-size: 40px;
	font-family: 'Roboto',sans-serif;
	font-weight: 400;
	opacity: 0;
	transform: translateX(-150px);
	transition: all 700ms ease-in;
	padding-bottom: 10px;
	border-bottom : 2px solid #008BFF;
}

.testtext {
	font-family: 'Roboto',sans-serif;
	font-weight: 100;
	opacity: 0;
	transform: translateY(150px);
	color: #455a64;
	transition: all 800ms ease-in;	
	text-align: center;
}

.showing {
	transform: translateX(0px);
	opacity: 1;
}

.showingtext {
	transform: translateY(0px);
	opacity: 1;
}

.terminal {
	display: flex;
	justify-content: center;
	align-content: flex-start;
	align-items: center;
	height: 100vh;
	z-index: 1;
	color: #008BFF;
	position: fixed;
	background-color: rgba(0,0,0,0.93);
	width: 0;
	left: -15vw;
	padding: 20px;
	font-family: 'Source Code Pro',sans-serif;
	font-size: 30px;
	overflow: hidden; 
	transition: all 0.3s ease-in-out;
}

.ter-ul {
	list-style-type: none;
}

.lo{
	opacity: 0;
	transition: all 0.3s ease-in-out;
	transform: translateX(-100px);
	margin-bottom: 17px;
	border-bottom: 1px solid #008BFF;
	padding: 10px;
}

.lo:hover {
	color: white;
	cursor: pointer;
	transform: scale(1.03);
	border-bottom-width: 3px;
}

.is-showing {
	opacity: 1;
	transform: translateX(0px);
	transition: all 0.3s ease-in-out;
}

.terminal.open{
	max-height: 100vh;
	width: 50vw;
}

.terminal.close{
	width: 0;
}


.aterminal {
	position: fixed;
	top: 10vh;
	left: 25vw;
	min-height: 400px;
	width: 50%;
	z-index: 2;
	transform: scale(0);
	transition: transform 400ms ease-in-out;
}

#cross {
	display: none;
	color:#37474f;
	font-size: 10px;
}

.aterminal:hover #cross {
	display: block;
}

.navbar {
  height: 4vh;
  padding-left: 5px;
  background: rgba(0,0,0,1);
  color: #eeeeee;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  align-content: center;
  align-items: center;
}

.navbar button {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-left: 4px;
  box-shadow: none;
  outline: none;
  border: 0;
}

.nav-background{
/*    background-image:url(../images/osdpng.png);*/
    background-size: 350px;
    background-position: center;
    background-repeat: no-repeat;
	min-height: 350px;
    box-shadow: 0px 0px 10px 1000px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.nav {
	background: rgba(0,0,0,0.9);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	font-family: 'Source Code Pro', monospace;
	font-weight: 200;
	font-size: 18px;
	color: white;
	padding: 14px;
	min-height: 350px; 
    box-shadow: 4px 4px 8px rgba(0,0,0,0.6),6px 7px 7px 0px rgba(0,0,0,0.4);
    border-top: 1px solid rgba(255,255,255,0.1);
}

.nav a {
	color: #9CD9F0;
	text-decoration: none;	
}

.session {
  position: absolute;
  text-align: center;
  font-family: 'Source Code Pro',sans-serif;
  font-size: 14px;
  left: 39%; 
}

.close {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ff6159;
}

.close:hover {
	cursor: pointer;
}

.minimize {
  background-color: #ffbf2f;
}
.maximize {
  background-color: #25cc3e;
}

.line1 {
	color: #9CD9F0;
}

.line2 {
	color: #CDEE69;
}

.line3 {
	color: #E09690;
}

.line4 {
	color: #9CD9F0;
}

.line5 {
	color: #CDEE69;
}

.line6 {
	color: #E09690;
}

.speakers {
	min-height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	border-bottom: 1px solid grey;
}

.speakers-head {
	font-size: 40px;
	font-family: 'Roboto',sans-serif;
	font-weight: 400;
	position: relative;
	opacity: 0;
	transform: translateY(100px);
	transition: all 700ms ease-in;
	padding-bottom: 10px;
	border-bottom : 2px solid #008BFF;
	transition: all 500ms ease-in;
}

.speakers-head-show {
	opacity: 1;
	transform: translateY(0px);
}

.speakers-body {
	min-height: 380px;
	width: 100%;
	margin-top: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: space-around;
	flex-wrap: wrap;
}	

.speaker-card {
	min-height: 450px;
	width: 300px;
	margin: 15px;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow:0 4px 7px rgba(0, 0, 0, 0.3), 0 0 15px rgba(0, 0, 0, 0.1) inset;
	opacity: 0;
	transform: translateX(-150px);
	transition: all 0.3s ease-in-out;
}

.speaker-card:hover {
	box-shadow:0 1px 6px 4px rgba(0, 0, 0, 0.3);
}

.speaker-card-show {
	opacity: 1;
	transform: translateX(0px);
}

.keynote-name {
	color: #008BFF;
	font-size: 25px;
	margin-top: 7px;
}

.keynote-desc {
	min-height: 100px;
	font-family: 'Roboto',sans-serif;
	font-weight: 100;
	padding: 17px;
	font-size: 15px;
	color: #455a64;
}

.keynote-links {
	margin: 10px;
}

.keynote-links a {
	color: black;
	text-decoration: none;
}

.twitter:hover {
	color: #008BFF;
}

.linkedin:hover {
	color: #0077B5;
}

.sponsors {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 75px;
	border-bottom: 1px solid grey;
}

.sponsors-head {
	font-size: 40px;
	font-family: 'Roboto',sans-serif;
	font-weight: 400;
	position: relative;
	opacity: 0;
	transform: translateY(100px);
	padding-bottom: 10px;
	border-bottom : 2px solid #008BFF;
	transition: all 0.3s ease-in;
}

.sponsors-desc {
	font-family: 'Roboto',sans-serif;
	font-weight: 100;
	font-size: 20px;
	color: #455a64;
	opacity: 0;
	transform: translateY(100px);
	transition: all 0.3s 100ms ease-in;
	text-align: center;
}	

.sponsors-button
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 37px;
	width: 200px;
	font-family: 'Roboto',sans-serif;
	font-size: 18px;
	background-color: white;
	color: #008BFF;
	border: 2px solid #008BFF;
	opacity: 0;
	transform: translateY(100px);
	transition: all 0.3s 200ms ease-in;
}

.sponsors-button:hover
{
	color: white;
	cursor: pointer;
	box-shadow:0 4px 7px rgba(0, 0, 0, 0.3);
	background-color: #008BFF;
}

.sponsors-button:active {
	outline: none; 
}

.sponsors-show {
	opacity: 1;
	transform: translateY(0px);
}

.sponsors-grid {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	min-height: 400px;
	padding: 20px;
	width: 100%;
}

.sponsor {
	height: 150px;
	width: 250px;
	margin: 12px;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: all 0.3s ease-in-out;
	transform: translateX(-50px);
	transition-delay: 650ms;
}

.sponsor-show {
	opacity: 1;
	transform: translateX(0px);
}

* {
    box-sizing: border-box;
}

.schedule {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-bottom: 1px solid grey;
	padding-bottom: 40px;
	min-height: 80vh;
}

.schedule-head {
	font-size: 40px;
	font-family: 'Roboto',sans-serif;
	font-weight: 400;
	position: relative;
	opacity: 0;
	transform: translateY(100px);
	padding-bottom: 10px;
	border-bottom : 2px solid #008BFF;
	transition: all 0.3s ease-in;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #455a64;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.container {
    padding: 10px 40px;
    position: relative;
    color: white;
    width: 50%;
}

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #008BFF;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #008BFF;}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent #008BFF transparent transparent;
}

.right::after {
    left: -16px;
}

.content {
    padding: 20px 30px;
    border: 2px solid #008BFF;
    color: black;
    position: relative;
    border-radius: 6px;
}

.content p {
	color: #455a64;
}

.schedule-head-show {
	opacity: 1;
	transform: translateY(0px);
}

/*footer*/

.footer {
	min-height: 200px;
	background: #008BFF;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0 150px;
	color: white;
	font-family: 'Roboto',sans-serif;
	font-size: 20px;
	font-weight: 600;
}

.footer li {
	list-style-type: none;
}

.footer a {
	color: white;
	text-decoration: none;
}

.footer a:hover {
	cursor: pointer;
}

.border {
	min-width: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/* media queries */

@media only screen and (max-width: 937px) {
    .nav-background{
        background-size: 200px;
    }

	.pot, .notebook, .cleanup, .calci, .pen {
		display: none;
	}

	.cup {
		position: absolute;
		top: 0;
		left: 0;
		height: 110px;
		width: 120px;
		right: 5vw;
		background-size: auto 110px;
	}

	.specs {
		display: none;
	}

	.pad {
		width: 150px;
	}

	.notepad {
		height: 200px;
		width: 210px;
		background-size: auto 200px;
	}

	.phone {
		top: 60vh;
		height: 120px;
		width: 130px;
		background-size: auto 120px;	
	}

	.writeup {
		left: 5vh;
		top: 50vh;
		font-size: 40px;
	}

	.laptop {
		height: 300px;
		width: 290px;
		background-size: contain;
	}

	.terminal {
		width: 0;
	}

	.lo {
		font-size: 17px;
	}

	.testtext {
		margin-right: 10px;
	}
}


@media only screen and (max-width: 607px) {
	.aterminal {
		display: none;
	}

	.about {
		padding: 25px;
	}

	.text {
		font-size: 25px;
	}

	.testtext {
		font-size: 17px;
	}

	.speakers-body {
		border: 1px solid #008BFF;
	}

	.sponsors {
		padding: 40px;
	}

	.sponsors-desc {
		font-size: 18px;
	}

	.timeline::after {
	left: 31px;
	}

	.container {
	width: 100%;
	padding-left: 70px;
	padding-right: 25px;
	}

	.container::before {
	left: 60px;
	border: medium solid white;
	border-width: 10px 10px 10px 0;
	border-color: transparent #008BFF transparent transparent;
	}

	.left::after, .right::after {
	left: 15px;
	}

	.right {
	left: 0%;
	}

	.footer {
		flex-direction: column;
		padding: 0;
	}
}

@media only screen and (min-width: 607px) {
	.terminal {
		display: none;
	}
}

@media only screen and (max-width: 414px) {
	.laptop {
		left: initial;
		right: 0;
	}
	.writeup {
		left: calc(100vw - 320px);
	}
	.pad {
		left: calc(100vw - 150px);	
	}
	.phone {
		left: calc(100vw - 130px);
	}
}
