body {
  margin: 0;
  background: #1CB5E2;
  background-image: -webkit-radial-gradient(bottom, circle cover, #1CB5E2 0%, #000060 100%);
  background-image: radial-gradient(bottom, circle cover, #1CB5E2 0%, #000060 100%);
  overflow-x: hidden;
  overflow-y: hidden;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.overlay {
  display: flex;
  position: fixed;
  z-index: 100;
  padding: 10px;
  height: 0vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  visibility: hidden;
  color: white;
  animation: appear 770ms ease-in 1 forwards;
  animation-delay: 8.6s;
  font-size: 40px;
  transition: all 870ms ease-in-out;
}

.proceed {
  height: 40px;
  width: 140px;
  box-shadow: none;
  border: 0;
  font-family: 'Roboto',sans-serif;
  font-size: 18px;
  border-radius: 20px;
  background-color: #0288d1;
  color: white;
  z-index: 100;
  margin-bottom: 40px;
  border: 2px solid white;
}

.proceed:hover {
  background-color: white;
  color: #0288d1;
  cursor: pointer;
}

@keyframes appear {
  0% {
    height: 0vh;
    width: 0%;
    visibility: hidden;
    background: transparent;
  }
  
  50% {
    height: 0vh;
    width: 0%;
    visibility: hidden;
    background: rgba(0,0,0,0.80);
  }

  100% {
    height: 100vh;
    width: 100%;
    visibility: visible;
    background: rgba(0,0,0,0.80);
  }
}


.navbar {
  height: 4vh;
  padding-left: 5px;
  background: rgba(0,0,0,0.89);
  color: #eeeeee;
  font-family: monospace;
  font-size: 14px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  align-content: center;
  align-items: center;
}

.navbar button {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-left: 4px;
  box-shadow: none;
  outline: none;
  border: 0;
}

.skip {
  border: 0;
  height: 40px;
  width: 145px;
  background-color: rgba(0,0,0,0.78);
  font-size: 17px;
  color: white;
  position: absolute;
  top: 85%;
  right: 10vw;
  font-family: 'Roboto',sans-serif;
  box-shadow: 2px 11px 17px rgba(0, 0, 0, 0.48);
}

.skip a {
  text-decoration: none !important;
  color: white;
  opacity: 0.85;  
}

.close {
  background-color: #ff6159;
}
.minimize {
  background-color: #ffbf2f;
}
.maximize {
  background-color: #25cc3e;
}

p {
  position: relative;
  text-align: left;
  font-size: 1.25em;
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.screen {
  min-height: 50vh;
  min-width: 80vw;
  border-radius: 7px;
  box-shadow: 2px 11px 17px rgba(0, 0, 0, 0.48);
}

.session {
  position: absolute;
  text-align: center;
  font-family: monospace;
  left: 42%; 
}

.terminal {
  min-height: 60vh;
  min-width: 80vw;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-family: monospace;
  font-weight: 200;
  font-size: 14px;
  padding: 14px;
  color: white;
  background: rgba(0,0,0,0.84);
}

.line {
  display: flex;
  margin-bottom: -10px;
  margin-top: -10px;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: baseline;
  font-weight: 200;
  font-size: 14px;
}

.line1 {
  color: #9CD9F0;
  animation: type 1.3s 1s forwards;
}

.line2 {
  color: #CDEE69;
  animation: type 20ms 2.3s linear forwards;
}

.line3 {
  color: #E09690;
  animation: type 1.2s 3.2s forwards;
}

.line4 {
  color: red;
  animation: type 20ms 4.5s forwards;
}

.line5 {
  color: #E09690;
  animation: type 1.2s 5.1s forwards;
}

.line6 {
  color: #9CD9F0;
  animation: type 20ms 6.1s forwards;
}

.line7 {
  color: #E09690;
  animation: type 1.2s 7s forwards;
}

.line8 {
  color: #9CD9F0;
  animation: type 20ms 8s forwards;
}

.cursor1 {
  animation: blink 0.6s 0.8s 2 forwards;
}

.cursor3 {
  animation: blink 0.7s 2.8s 2 forwards;
}

.cursor4 {
  animation: blink 0.5s 5s 2 forwards;
}

.cursor5 {
  animation: blink 0.5s 6.8s 2 forwards;
}

.dollar {
  font-family: monospace;
  font-weight: 200;
  font-size: 17px;
}

.dollar1 {
  visibility: hidden;
  animation: dollar_appear 10ms linear forwards;
  color: #9CD9F0;
}

.dollar2 {
  visibility: hidden;
  animation: dollar_appear 10ms linear forwards;
  animation-delay: 2.3s;
  color: #E09690;
}

.dollar3 {
  visibility: hidden;
  animation: dollar_appear 10ms linear forwards;
  animation-delay: 4.5s;
  color: #CDEE69;
}

.dollar4 {
  visibility: hidden;
  animation: dollar_appear 10ms linear forwards;
  animation-delay: 4.5s;
  color: #E09690;
}

.dollar5 {
  visibility: hidden;
  animation: dollar_appear 10ms linear forwards;
  animation-delay: 6.1s;
  color: #CDEE69;
}

.dollar6 {
  visibility: hidden;
  animation: dollar_appear 10ms linear forwards;
  animation-delay: 6.1s;
  color: #E09690;
}

.dollar7 {
  visibility: hidden;
  animation: dollar_appear 10ms linear forwards;
  animation-delay: 8s;
  color: #CDEE69;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes type {
  0% {
    width: 0;
  }

  100% {
    width: 40em;
  }
}


@keyframes result_appear {
  to {
    visibility: visible;
  }
}

@keyframes dollar_appear {
  to {
    visibility: visible;
  }
}

/* media queries */

@media only screen and (max-width: 420px) {

  .screen {
    display: none;
  }

  .skip {
    display: none;
  }

  .overlay {
    visibility: visible;
    animation: none;
    padding: 20px;
  }

  .overlay img {
    height: 185px;
    width: 300.5px;
  }
}