body {
  margin: 0;
  min-height: 100vh;
  background: #3a7bd5;
  background-image: -webkit-radial-gradient(top, circle cover, #00c6ff 0%, #0072ff 80%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items:center;
}

.overlay {
  display: flex;
  position: fixed;
  padding: 10px;
  width: 0vw;
  height: 0vh;
  background: transparent;
  color: transparent;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 200;
  visibility: hidden;
  color: white;
  animation: appear 300ms ease-in-out 1 forwards;
  animation-delay: 9300ms;
}

@keyframes appear {
  0% {
    height: 0vh;
    width: 0vw;
    visibility: hidden;
    background: transparent;
  }
  
  50% {
    height: 0vh;
    width: 0vw;
    visibility: hidden;
    background: rgba(0,0,0,0.93);
  }
  
  100% {
    height: 100vh;
    width: 100vw;
    visibility: visible;
    background: rgba(0,0,0,0.93);
  }
}

p {
  position: relative;
  text-align: left;
  font-size: 1.25em;
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.screen {
  min-height: 50vh;
  min-width: 80vw;
}

.session {
  position: relative;
  text-align: center;
  font-family: 'Source Code Pro',sans-serif;
  left: 25%;
}

.terminal {
  min-height: 60vh;
  min-width: 80vw;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-family: 'Source Code Pro', monospace;
  font-weight: 200;
  font-size: 14px;
  padding: 10px;
  color: white;
}

.navbar {
  height: 4vh;
  padding-left: 5px;
  background: rgb(246, 246, 246);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  align-content: center;
  align-items: center;
}

.navbar button {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-left: 4px;
  box-shadow: none;
  outline: none;
  border: 0.05em solid grey;
}

.close {
  background-color: #ff6159;
}
.minimize {
  background-color: #ffbf2f;
}
.maximize {
  background-color: #25cc3e;
}

.terminal {
  height: 46vh;
  background-color: black;
    opacity: 0.75;
}

.line1 {
  color: #9CD9F0;
  animation: type .5s 0.5s forwards;
}

.cursor1 {
  animation: blink 1s 1s 2 forwards;
}

.line2 {
  color: #CDEE69;
  animation: type .5s 3.25s forwards;
}

.cursor2 {
  animation: blink 1s 5.25s 2 forwards;
}

.line3 {
  color: #E09690;
  animation: type .5s 7.5s forwards;
}

.cursor3 {
  animation: blink 1s 8.5s infinite forwards;
}

.line4 {
  color: #fff;
  animation: type .5s 10.75s forwards;
}

.cursor4 {
  animation: blink 1s 8.5s infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes type {
  to {
    width: 20em;
  }
}